/* Write your CSS here */
.container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 800;
}
.description {
  color: #333333;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 400;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  border-width: 0px;
}

.random-number {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 800;
}
